<script setup>
import { RouterView } from "vue-router";
import Navigate from "@/components/Navigate.vue";
</script>

<template>
  <div class="flex flex-col min-h-screen font-Roboto bg-weather-primary">
    <Navigate />
    <RouterView />
  </div>
</template>

<style scoped></style>
